@model BankOfSimba.ViewModels.BankAccountViewModel
@{
    <table style="width:100%">
        @foreach (var animal in @Model.BankAccountList)
        {
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Balance</td>
                    <td>@animal.Currency</td>
                    <td>@animal.AnimalType</td>
                </tr>
        }
    </table>

    <table style = "width:100%">
         @for(int i = 0; i < Model.BankAccountList.Count; i++)
        {
            <tr>
                <td> @i </td>
                <td> @Model.BankAccountList[i].Name </td>
                <td> @Model.BankAccountList[i].Balance </td>
                <td> @Model.BankAccountList[i].Currency </td>
                <td> @Model.BankAccountList[i].AnimalType </td>

                @if (Model.BankAccountList[i].Status == "King")
                {
                    <td> <span>@Model.BankAccountList[i].Status </span></td>
                }
                else
                {
                    <td></td>

                }

                @if(Model.BankAccountList[i].Bad_Good == true)
                {
                    <td>Good</td>
                }
                else
                {
                    <td>Bad</td>
                }
            </tr>
        }
    </table>

    <form action="/add" method="post">
        Name:
        <input type="text" name="Name">
        <br />
        Balance:
        <input type="text" name="Balance">
        <br />
        Currency:
        <input type="text" name="Currency">
        <br />
        Type:
        <input type="text" name="AnimalType">
        <br />
        <input type="submit" value="Submit">
    </form>

    <form action="/addcurrency" method="post">
        Raise currency:
        @foreach (var animal in Model.BankAccountList)
        {
            @if (animal.Status == "King")
            {
                animal.Balance += 100;
            }
            else
            {
                animal.Balance += 10;

            }
        }
        <input type="submit" value="Raise currency">
    </form>
}
