@model BankOfSimba.ViewModels.BankAccountViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Info</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>@{
    <table style="width:100%">
        @for (int i = 0; i < Model.BankAccountList.Count; i++)
        {
            var counter = i + 1;
            <tr>
                <td> @counter</td>
                <td> @Model.BankAccountList[i].Name </td>
                <td> @Model.BankAccountList[i].Balance </td>
                <td> @Model.BankAccountList[i].Currency </td>
                <td> @Model.BankAccountList[i].AnimalType </td>

                @if (Model.BankAccountList[i].Status == "King")
                {
                    <td> <span>@Model.BankAccountList[i].Status </span></td>
                }
                else
                {
                    <td></td>

                }

                @if (Model.BankAccountList[i].Bad_Good == true)
                {
                    <td>Good</td>
                }
                else
                {
                    <td>Bad</td>
                }
            </tr>
        }
    </table>

    <form action="/add" method="post">
        Name:
        <input type="text" name="Name">
        Balance:
        <input type="text" name="Balance">
        Currency:
        <input type="text" name="Currency">
        Type:
        <input type="text" name="AnimalType">
        <input type="submit" value="Submit">
    </form>

    <form action="/addcurrency" method="post">
        Raise currency:
        @foreach (var animal in Model.BankAccountList)
        {
            @if (animal.Status == "King")
            {
                animal.Balance += 100;
            }
            else
            {
                animal.Balance += 10;

            }
        }
        <input type="submit" value="Raise currency">
    </form>
}
    </body>
</html>
