@model System.Collections.Generic.List<PallidaExam.Models.LicencePlate>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Licence Plates</title>
    <meta lang="en", charset="utf-8" />
</head>
<body>
    <form action="/search" method="get">
        <input type="text" pattern="[A-Z0-9-]{7}" name="q"/>
        <input type="submit" value="Submit" />
        <a href="/search?police=1">Police cars only</a>
        <a href="/search?diplomat=1">Diplomats only</a>
    </form>
    <table>
        @if (Model.Count == 0)
        {
            <tr>Sorry, the submitted licence plate is not valid</tr>
        }
        else
        { 
        <tr>
            <th>Licence plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
        </tr>
        @foreach (var plate in Model)
        {
            <tr>
                <td>@plate.Plate</td>
                <td><a href="/search/@plate.CarBrand">@plate.CarBrand</a></td>
                <td>@plate.CarModel</td>
                <td>@plate.Color</td>
                <td>@plate.Year</td>
            </tr>
        }
        }
    </table>
</body>
</html>

