@model List<TodoSQL.Models.Todo>
<html>
<head>
    <meta charset="UTF-8" lang="en">
    <title>Todo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Todos</h1>
    <form class="form-inline" action="/delete" method="post">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Urgent</th>
                <th>Done</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TodoId</td>
                        <td>@item.Title</td>
                        <td>@item.IsUrgent</td>
                        <td>@item.IsDone</td>
                        <td><a href="@item.TodoId/delete">Delete</a></td>
                        <td><a href="@item.TodoId/edit">Edit</a></td>
                    </tr>
                }
        </table>
    </form>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>