@model Reddit2.ViewModels.PostViewModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posts</title>
    <meta charset="utf-8" lang="en" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h3>Hi @Model.User.UserName!</h3>
    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
    <div class="row">
        <div class="col-xs-6 col-md-1"></div>
        <div class="col-xs-6 col-md-10">
        <form method="get">
            <a href="/addcontent/@Model.User.UserName"><h2 class="text-right"><small><mark>Add new post</mark></small></h2></a>
            <input type="hidden" name="UserName" value="@Model.User.UserName" />
        </form>
        <h2>Best Ten Posts</h2>
        <table class="table table-striped">
            <tr>
                <th>Rank</th>
                <th>Score</th>
                <th>Actions</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
            @if (Model.BestTen.Count == 0)
            {
                <tr>No posts</tr>
            }
            else
            {
                var counter = 0;
                @foreach (var item in Model.BestTen)
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@item.Score</td>
                        <td><a href="/addscore/@item.PostId">+</a><a href="/decreasescrore/@item.PostId">-</a></td>
                        <td>@item.Content</td>
                        <td>@item.DateTime</td>
                    </tr>
                }
            }
        </table>
        <h2>All Posts</h2>
        <form action="" method="post">
            <table class="table table-striped">
                <tr>
                    <th>Score</th>
                    <th>Actions</th>
                    <th>Content</th>
                    <th>Date</th>
                </tr>
                @if (Model.AllPosts.Count == 0)
            {
                    <tr>No posts</tr>
                }
                else
                {
                    @foreach (var item in Model.AllPosts)
                    {
                        <tr>
                            <td>@item.Score</td>
                            <td><a href="/addscore/@item.PostId">+</a><a href="/decreasescrore/@item.PostId">-</a></td>
                            <td>@item.Content</td>
                            <td>@item.DateTime</td>
                        </tr>
                    }
                }
            </table>
        </form>
        </div>
        <div class="col-xs-6 col-md-1"></div>
</div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
