@model TodoSQL.ViewModels.TodoViewModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List Of Assignees</title>
    <meta charset="UTF-8" lang="en">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-xs-6 col-md-1"></div>
        <div class="col-xs-6 col-md-5">
            <br />
            <h2>Assignees</h2>
        </div>
        <div class="col-xs-6 col-md-6">
            <form class="form-inline" action="adduser" method="post">
                <br />
                <br />
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <button type="submit" class="btn btn-default">Add User</button>
            </form>
            </div>
            <div class="col-xs-6 col-md-1"></div>
        </div>
    <br />
    <form class="form-inline">
        <table id="myTable" class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.UserId</td>
                    <td><a href="@item.Name/getassigneestodos" >@item.Name</a></td>
                    <td>@item.Email</td>
                    <td><a href="@item.UserId/deleteuser">Delete</a></td>
                    <td><a href="@item.UserId/edituser">Edit</a></td>
                </tr>
            }
        </table>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
