@model TodoSQL.ViewModels.AssigneesTodoListViewModel
<html>
<head>
    <meta charset="UTF-8" lang="en">
    <title>Assignee's Todos</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>@Model.CurrentUser.Name's Todo List:</h2>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>Is it urgent?</th>
            <th>Is it done?</th>
            <th>Date</th>
        </tr>
        @foreach (var item in Model.AssigneesTodoList)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Content</td>
                <td>@item.IsUrgent</td>
                <td>@item.IsDone</td>
                <td>@item.DateTime</td>
            </tr>
        }
    </table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
