@model List<TodoSQL.Models.User>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
</head>
<body>
    <h4>Users:</h4>
    <table class="table table-striped">
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                @foreach (var todos in item.Todos)
                {
                    <td>@todos.Title</td>
                    <td>@todos.IsUrgent</td>
                    <td>@todos.IsDone</td>
                }
            </tr>
        }
    </table>
</body>
</html>
